html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

form {
	margin: 10px;
}

input[type=search] {
	border-radius: 10px;
	color: black;
	text-indent: 10px;
	width: 100%;
	padding: 5px;
}

.main-header {
	text-align: center;
	color: #ce1126;
	margin-bottom: 30px;
}

.taqueria-name {
	font-size: 20px;
	margin-bottom: -15px;
}

.taqueria-address {
	font-size: 15px;
}

.star {
	width: 25px;
}

.rating {
	margin: 10px 0 10px 0;
}

.review {
	max-width: 300px;
}

.drawer {
	max-width: 33%;
	height: 100%;
	background-color: #006847;
	color: #ffffff;
	font-size: 16px;
	float: left;
}

.location-list {
	padding: 10px;
	list-style: none;
	text-align: center;
}

button {
	background-color: #8f4620;
	border: 1px solid white;
	padding: 10px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 80%;
}

button:hover {
    background-color: #ffffff;
    color: black;
}

#map {
	height: 100%;
}

#hamburger-menu {
  display: none;
}

@media screen and (max-width: 549px) {
	#hamburger-menu {
		height: 48px;
		margin-right: 0.5em;
		z-index: 1;
		display: inline-block;
		position: absolute;
		right: 0;
		padding: 0.5em;
		background: #000;
	}
	#hamburger-menu svg {
		width: 32px;
		fill: #fff;
	}
	.drawer {
		z-index: 2;
		width: 50%;
		position: absolute;
		-webkit-transform: translate(-300px, 0);
		transform: translate(-300px, 0);
		transition: transform 0.3s ease;
	}
	.drawer.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	#location-list {
		width: 50%;
	}
}
