html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.hamburger {
	display: none;
}

.header {
	height: 80px;
}

.main-header {
	color: #ce1126;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.content {
	flex: 1;
	position: relative;
}

.drawer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 250px;
	background-color: #006847;
	color: #ffffff;
	font-size: 16px;
	overflow: scroll;
}

form {
	margin: 10px;
}

input[type=search] {
	border-radius: 10px;
	color: black;
	text-indent: 10px;
	width: 100%;
	padding: 5px;
}

.location-list {
	padding: 10px;
	list-style: none;
	text-align: center;
}

.location-item {
	background-color: #8f4620;
	border: 1px solid white;
	padding: 10px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 80%;
}

.location-item:hover {
    background-color: #ffffff;
    color: black;
}

#map {
	/*TODO: Try height: calc(100%-400px)*/
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
}

.taqueria-name {
	font-size: 20px;
	margin-bottom: -15px;
}

.taqueria-address {
	font-size: 15px;
}

.star {
	width: 25px;
}

.rating {
	margin: 10px 0 10px 0;
}

.review {
	max-width: 300px;
}

@media screen and (max-height: 430px) {
	.row.header {
		display: none;
	}
	.drawer {
		font-size: 14px;
		height: 100%;
	}
	#map {
		height: 100%;
	}
}

@media screen and (max-width: 768px) {
	.main-header {
		font-size: 28px;
	}
	.drawer {
		font-size: 14px;
	}
}

@media screen and (max-width: 420px) {
	.hamburger {
		display: inline-block;
		position: relative;
		float: left;
		width: 40px;
		height: 40px;
		margin: 10px 15px 15px 25px;
		background-color: transparent;
		border: solid black;
	}
	.header {
		height: 70px;
	}
	.main-header {
		font-size: 18px;
	}
	.drawer {
		z-index: 2;
		max-width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transform: translate(-300px, 0);
		transform: translate(-300px, 0);
		transition: transform 0.3s ease;
	}
	.drawer.open {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	#map {
		left: 0;
	}
}

@media screen and (max-width: 374px) {
	.main-header {
		font-size: 14px;
	}
}
